[Unit]
Description=Warp-Plus script daemon
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/var/lib/warp-plus
ExecStart=/usr/bin/python3 main.py
Restart=always
